@import '../../../../styles.scss';

header {
  @include flexbox($flex-direction: row, $justify-content: space-between);
  height: 80px;
  width: 100%;
}

.logo-mobile {
  height: 2.5rem;
  aspect-ratio: 1/1;
  fill: #35f;
  display: none;
}

app-nav {
  width: 100%;
  height: 100%;
}
