@use './../../../shared/styles/_core.scss' as *;

header {
  @include flexbox($flex-direction: row, $justify-content: space-between);
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4.5rem;
  z-index: 100;
}

.logo-mobile {
  cursor: pointer;
  height: 2.5rem;
  aspect-ratio: 1/1;
  fill: $color-accent-blue;
  display: none;
  stroke-width: 4px;
  transition: $hover-transition;

  &:hover {
    fill: $color-accent-yellow;
  }
}

app-nav {
  width: 100%;
  height: 100%;
}

.burger_menu {
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  & > span {
    display: block;
    width: 75%;
    height: 3px;
    background-color: $color-font-light;
    border-radius: 1.5px;
    transition: transform 250ms ease-in-out;
  }
}

.burger_menu_active {
  .first-line {
    transform: translateY(9px) rotate(45deg);
  }

  .middle-line {
    opacity: 0;
  }

  .last-line {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@media (max-width: 750px) {
  app-nav {
    display: none;
  }

  .logo-mobile,
  .burger_menu {
    display: flex;
  }
}

@media (max-width: 700px) {
  header {
    padding: 0 2rem;
  }

  @media (max-width: 420px) {
    header {
      padding: 0 1rem;
    }
  }
}
