@use './../../../shared/styles/_core.scss' as *;

header {
  @include flexbox($flex-direction: row, $justify-content: space-between);
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4.5rem;
}

.logo-mobile {
  height: 2.5rem;
  aspect-ratio: 1/1;
  fill: #35f;
  display: none;
  stroke-width: 4px;
}

app-nav {
  width: 100%;
  height: 100%;
}
