@use './../../../shared/styles/_core.scss' as *;

header {
  @include flexbox($flex-direction: row, $justify-content: space-between);
  height: 80px;
  width: 100%;
}

.header-over-nav {
  z-index: 100;
  position: relative;
}

.logo-mobile {
  cursor: pointer;
  height: 2.5rem;
  aspect-ratio: 1/1;
  fill: $color-accent-blue;
  display: none;
  stroke-width: 4px;
  transition: $hover-transition;
  padding: 0;

  &:hover {
    fill: $color-accent-yellow;
  }
}

app-web-nav {
  width: 100%;
  height: 100%;
}

app-mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  transform: translateY(-100%);
  transition: $hover-transition;
}

.nav_active {
  transform: translateY(0);
}

.burger_menu {
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: relative;

  & > span {
    display: block;
    width: 75%;
    height: 3px;
    mix-blend-mode: difference;
    background-color: $color-font-light;
    border-radius: 1.5px;
    transition: transform 250ms ease-in-out;
  }

  img {
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    opacity: 0;
    transition: $hover-transition;
  }

  .clicked {
    opacity: 1;
  }
}

.burger_menu_active {
  .first-line {
    transform: translateY(9px) rotate(45deg);
  }

  .middle-line {
    opacity: 0;
  }

  .last-line {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@media (max-width: $breakpoint-mobile-view) {
  app-web-nav {
    display: none;
  }

  app-mobile-nav {
    display: flex;
  }

  .logo-mobile,
  .burger_menu {
    display: flex;
  }
}

@media (max-width: 700px) {
  header {
    padding: 0 2rem;
  }

  @media (max-width: 420px) {
    header {
      padding: 0 1rem;
    }
  }
}
