@use './../../../shared/styles/_core.scss' as *;

header {
  @include flexbox($flex-direction: row, $justify-content: space-between);
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4.5rem;
  z-index: 100;
}

.logo-mobile {
  height: 2.5rem;
  aspect-ratio: 1/1;
  fill: $color-accent-blue;
  display: none;
  stroke-width: 4px;
  transition: $hover-transition;

  &:hover {
    fill: $color-accent-yellow;
  }
}

app-nav {
  width: 100%;
  height: 100%;
}

@media (max-width: 750px) {
  app-nav {
    display: none;
  }

  .logo-mobile {
    display: flex;
  }
}

@media (max-width: 700px) {
  header {
    padding: 0 2rem;
  }

  @media (max-width: 420px) {
    header {
      padding: 0 1rem;
    }
  }
}
