/* Fonts einbinden */
@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Farbe */
  --color-bg-main: rgba(10, 25, 41, 1);
  --color-bg-header-footer: rgba(15, 41, 66, 1);

  --color-fonts: rgb(190, 190, 190, 1);

  /* Schriftarten */
  --font-general: "LuckiestGuy-Regular";
}

/* Grundeinstellungen für alle Elemente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; Dev */
}

html {
  scroll-behavior: smooth;
}

/* Text-Grundlagen */
body {
  font-size: 16px; /* nur für Programierung, Später löschen  */
  font-family: var(--font-general), sans-serif, monospace; /* Standartschriftart*/
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(0.8);
  color: white;
  background-color: black;
}

.backgroundBody {
  background-image: url("../img/3. Background/html_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1400px;
  width: 100%;

  margin: 0 auto;
  padding: 1rem 2rem;
}

canvas {
  background-color: rgb(255, 255, 255);
  display: block;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

button {
  position: relative;
  width: 30%;
  height: 10%;
  background-color: #1d49d8;
  border: none;
  box-shadow: 0 0 5px black;
  border-radius: 15px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

button:hover {
  scale: 1.1;
  background-color: #2050ee;
}

.key {
  width: 20%;
  aspect-ratio: 1/1;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 7px;
  box-shadow: 0 0 3px black;
}

.space {
  width: 50%;
  height: 25px;
}

table {
  width: 30%;
  margin-bottom: 10px;
}

tr {
  width: 100%;
  display: flex;
}

td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen-container:fullscreen canvas {
  height: 100%;
}

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
