.fullscreen-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 720px;
  height: 480px; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.background {
  background-image: url("../img/3. Background/Legacy/Dark/2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.startScreen {
  z-index: 2;
  width: 100%;
  height: 100%;
  gap: 5%;
  display: flex;
  display: none;
}

.controls {
  z-index: 2;
  backdrop-filter: brightness(0.5);
  display: none;
}

.endScreen {
  z-index: 2;
  font-size: 3rem;
  gap: 15px;
  display: none;
}

.head-line {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.head-line > button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  display: flex;
}

.head-line > button > img {
  height: 24px;
  width: 24px;
}

.control-container {
  position: absolute;
  bottom: 15px;
  /* background-color: rgba(137, 43, 226, 0.577); */
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  display: none;
}

.control-left,
.control-right {
  position: relative;
  width: 30%;
  height: 100%;
}

.control-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  fill: rgba(145, 145, 145, 0.6);
}

.controle-dot {
  width: 1rem;
  height: 1rem;
  fill: rgba(145, 145, 145, 0.6);
}

.control-right {
  display: flex;
  justify-content: center;
}

.row {
  height: 33%;
  display: flex;
  justify-content: center;
  /* background-color: rgba(128, 128, 128, 0.387); */
}
.row2 {
  justify-content: space-between;
}

.control-button {
  width: 33.333%;
  height: 100%;
  border-radius: 0px;
  background-color: transparent;
  color: rgba(145, 145, 145, 0.6);
  box-shadow: none;
}

.control-button:hover {
  scale: 1;
  background-color: transparent;
}

.sprint_icon,
.attack_icon {
  padding: 10%;
  width: 100%;
  fill: rgba(145, 145, 145, 0.6);
}

.intro {
  display: none;
  justify-content: flex-end;
}

.intro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.textarea {
  position: relative;
  margin: 2.5rem 2.5rem 0 2.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#btn-skip {
  margin: 2.5rem;
  z-index: 3;
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  height: 930px;
  /* background-color: aqua; */
  z-index: 3;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  left: 50px;
  right: 50px;
  bottom: 920px;
}

.text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-height: 480px) {
  .text {
    padding-top: 15%;
  }

  .text p {
    font-size: 1.2rem;
  }
}

@media (max-height: 360px) {
  .text p {
    font-size: 1rem;
  }

  #btn-skip {
    margin: 1.5rem;
  }
}

@media (max-height: 270px) {
  .text {
    left: 25px;
    width: 85%;
  }

  .text p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #btn-skip {
    margin: 0.5rem;
  }
}

@media (min-width: 900px) {
  .fullscreen-container:fullscreen .head-line > button > img {
    height: 48px;
    width: 48px;
  }

  .fullscreen-container:fullscreen h1 {
    font-size: 10rem;
  }

  .fullscreen-container:fullscreen h2 {
    font-size: 7rem;
  }

  .fullscreen-container:fullscreen button {
    font-size: 2.2rem;
  }

  .fullscreen-container:fullscreen .intro {
    display: none;
    justify-content: flex-end;
  }
  .fullscreen-container:fullscreen .intro.active {
    display: flex;
    justify-content: flex-end;
  }
}

.impressum {
  font-family: var(--font-general), sans-serif, monospace;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  backdrop-filter: brightness(0.5);
}

.impressum h1 {
  font-size: 3rem;
}

.impressum h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

.impressum p {
  font-size: 1rem;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
}

#back-to-game {
  height: 2.5rem;
  width: 280px;
}

.is-display-portrait {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.turn-device {
  margin: 10px;
  width: 200px;
  height: 200px;
  fill: white;
  rotate: -45deg;
  animation: turn-device 2s ease-in-out 0s infinite;
}

@keyframes turn-device {
  0% {
    rotate: 45deg;
  }

  50% {
    rotate: -45deg;
  }

  100% {
    rotate: 45deg;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 1rem;
  }

  footer {
    padding: 1rem 0;
  }

  .impressum h1 {
    font-size: 2rem;
  }

  .impressum h3 {
    font-size: 1.25rem;
    margin: 1rem 0 0.5rem 0;
  }
}

.active {
  display: flex;
}
