@use './../../../../shared/styles/core' as *;

section {
  min-height: 110vh;
  background-image: url(../../../../../../public/assets/img/contact.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.wrapper {
  flex-direction: row;
  height: 100%;
  color: $color-font-light;
  margin-top: 10rem;
  margin-bottom: 225px;
}

.content {
  flex-grow: 1;
  text-wrap: wrap;
  min-width: 60%;
  padding-right: 10%;

  .overlay-bottom {
    width: 50%;
    left: 50%;
    bottom: -100px;
  }
}

.contact-form-container {
  position: relative;
  margin-top: 340px;
  flex-grow: 1;
  min-width: 40%;
}

.input-container {
  @include flexbox($align-items: flex-start);
  height: 100px;
  border-bottom: 1px solid $color-accent-yellow;

  &:hover {
    border-top: 2px solid $color-accent-blue;
    border-bottom: 2px solid $color-accent-blue;
  }

  label,
  input {
    margin: 0.5rem 2rem;
    color: $color-font-light;
    &:focus {
      outline: none;
    }
  }
}

.input-container:first-child {
  &:hover {
    border-top: 2px solid $color-accent-blue;
  }
}

.interactions-container {
  @include flexbox($align-items: flex-start);

  margin-top: 2.5rem;

  .button-container {
    @include flexbox($flex-direction: row, $justify-content: flex-end);
    width: 100%;
    height: 120px;

    .animate-container {
      display: none;
      width: 30%;
      height: 100%;
      margin-right: 1rem;

      @media (max-width: 500px) {
        width: 50%;
      }
    }

    .overlay-bottom {
      bottom: 25%;
    }

    button {
      margin-top: 2.5rem;
    }
  }
}

@media (max-width: 1150px) {
  .wrapper {
    flex-direction: column;
  }

  .content {
    padding-right: 0;
    .overlay-bottom {
      display: none;
    }
  }

  .interactions-container .button-container .animate-container {
    display: initial;
  }

  .contact-form-container {
    margin-top: 3rem;
    width: 100%;
  }

  .input-container {
    label,
    input {
      margin: 0.5rem 0rem;
    }
  }
}
