@use './../../../../shared/styles/core' as *;

section {
  position: relative;
  min-height: 110vh;
  background-image: url(../../../../../../public/assets/img/contact.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.wrapper {
  flex-direction: row;
  height: 100%;
  color: $color-font-light;
}

.content {
  flex-grow: 1;
  text-wrap: wrap;
  min-width: 60%;
  padding-right: 10%;

  .overlay-bottom {
    width: 50%;
    left: 50%;
    bottom: -100px;
  }
}

.contact-form-container {
  position: relative;
  margin-top: 340px;
  flex-grow: 1;
  min-width: 40%;
}

.input-container {
  @include flexbox($align-items: flex-start);
  height: 100px;
  border-bottom: 1px solid $color-accent-yellow;

  &:hover {
    border-top: 2px solid $color-accent-blue;
    border-bottom: 2px solid $color-accent-blue;
  }

  &:hover label {
    color: $color-accent-orange;
  }

  .highlight-label-If-Invalid {
    color: $color-accent-orange;
  }

  label,
  input {
    margin: 0.5rem 2rem;
    color: $color-font-light;
    &:focus {
      outline: none;
    }
  }
}

.input-container:first-child {
  &:hover {
    border-top: 2px solid $color-accent-blue;
  }
}

.interactions-container {
  @include flexbox($align-items: flex-start);

  margin-top: 2.5rem;

  .button-container {
    @include flexbox($flex-direction: row, $justify-content: flex-end);
    width: 100%;
    height: 120px;

    .animate-container {
      display: none;
      width: 30%;
      height: 100%;
      margin-right: 1rem;

      @media (max-width: 500px) {
        width: 50%;
      }
    }

    .overlay-bottom {
      bottom: 25%;
    }

    button {
      margin-top: 2.5rem;
    }

    button:disabled {
      color: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 2px 5px rgba(255, 255, 255, 0.5);
      cursor: not-allowed;

      &:hover {
        box-shadow: none;
        background-color: $color-accent-red;
        box-shadow: 2px 5px rgba(255, 255, 255, 0.5);
        transform: translateX(0) translateY(0);
      }
    }
  }
}

@media (max-width: 1150px) {
  .wrapper {
    flex-direction: column;
    margin-top: 10rem;
  }

  .content {
    padding-right: 0;
    .overlay-bottom {
      display: none;
    }
  }

  .interactions-container .button-container .animate-container {
    display: initial;
  }

  .contact-form-container {
    margin-top: 3rem;
    width: 100%;
  }

  .input-container {
    label,
    input {
      margin: 0.5rem 0rem;
    }
  }
}

.invalid::placeholder {
  color: $color-accent-red;
}
//  Forms Styles
label {
  position: relative;
  font-size: 1.5rem;

  @media (max-width: 500px) {
    font-size: 1.25rem;
  }
}

input {
  background-color: transparent;
  line-height: 1.25rem;
  font-size: 1.25rem;
  border: none;
  margin: 0.5rem 0;
  width: 100%;

  &::placeholder {
    font-size: 1rem;
    color: $color-font-light;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

input[type='checkbox'] {
  position: relative;
  appearance: none;
  border: 2px solid $color-accent-blue;
  border-radius: 2px;
  height: 1.25rem;
  aspect-ratio: 1/1;
  margin: 0;

  &:checked::after {
    position: absolute;
    top: -2px;
    right: -2px;
    content: '';
    height: 1.1rem;
    aspect-ratio: 1/1;
    background-image: url(./../../../../../../public/assets/img/Check.png);
    background-size: contain;
    z-index: 2;
  }
}

.checkbox-bg {
  position: absolute;
  // content: '';
  top: 0;
  left: -2px;
  display: block;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 2px;
  background-color: $color-accent-blue;
  filter: opacity(0);
  pointer-events: none;
  z-index: 0;
  transition: $hover-transition-fast;
}

.privacy-check-container label:hover .checkbox-bg {
  filter: opacity(0.5);
}

.privacy-text {
  font-size: 1rem;
  display: block;

  a {
    color: $color-accent-blue;
    font-weight: normal;
    padding: 0;
    &:hover {
      color: $color-accent-yellow;
    }
  }
}

.privacy-check-container {
  display: flex;
  flex-direction: row;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  margin: auto;
  background: transparent;
  border: none;
  box-shadow: none;
  width: 90%;
  max-width: 560px;
  padding: 0;
  overflow: visible;
}

.dialog-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4.5/1;
  background-image: url(../../../../../../public/assets/img/skills-description-web.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 1.5rem;

  .dialog-content {
    @include flexbox();
    width: 100%;
    height: 100%;

    p {
      text-align: center;
    }
  }
  .dialog-close-btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 620px) {
  dialog {
    max-width: 380px;
    .dialog-wrapper {
      background-image: url(../../../../../../public/assets/img/skills-description-mobile.png);
      aspect-ratio: 1.6/1;

      .dialog-close-btn {
        top: 1.5rem;
      }
    }
  }
}

@media (max-width: 360px) {
  dialog {
    .dialog-wrapper {
      padding: 1rem 2rem;
      .dialog-close-btn {
        top: 1rem;
        right: 0.8rem;
      }
    }
  }
}
