@use '../../../../shared/styles/_core.scss' as *;

nav {
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-image: url(./../.././../../../../public/assets/img/hero.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexbox();

  ul {
    @include flexbox($justify-content: space-between);
    height: 50%;
    margin-bottom: 100px;
  }

  app-social-links {
    position: absolute;
    bottom: 10%;
  }
}

app-nav-list-item {
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  // nav {
  //   ul {
  //     height: 45%;
  //     li {
  //       a {
  //         font-size: 1.15rem;
  //       }
  //     }
  //   }
  // }
}
