@use '../../../../shared/styles/_core.scss' as *;

nav {
  height: 100vh;
  width: 100%;
  background-image: url(./../.././../../../../public/assets/img/hero.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexbox();

  ul {
    @include flexbox($justify-content: space-between);
    height: 50%;
  }

  app-social-links {
    position: absolute;
    bottom: 10%;
  }
}

@media (max-width: 450px) {
  nav {
    ul {
      height: 45%;
      li {
        a {
          font-size: 1.15rem;
        }
      }
    }
  }
}
