@use './../../../../shared/styles/core' as *;

section {
  height: 100vh;
}

.wrapper {
  @include flexbox($flex-direction: row);
  gap: 50px;
}

aside {
  @include flexbox();
  width: 50%;
}

.info-strips {
  @include flexbox();
  width: 100%;
  max-width: 560px;
  height: 500px;
  color: $color-font-light;

  .stripe {
    @include flexbox();
    width: 100%;
    height: 33%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .content {
      width: 100%;
      @include flexbox($flex-direction: row);

      p {
        font-size: 1.5rem;
      }

      img {
        margin-right: 1rem;
      }
    }
  }

  .yellow-strip {
    background-image: url(./../../../../../../public/assets/img/ripped_paper_01.png);
    transform: rotate(-5deg) translateY(70px);
    z-index: 3;

    .content {
      padding-bottom: 1.5rem;
    }
  }
  .blue-strip {
    background-image: url(./../../../../../../public/assets/img/ripped_paper_02.png);
    z-index: 2;
  }
  .orange-strip {
    background-image: url(./../../../../../../public/assets/img/ripped_paper_03.png);
    transform: rotate(5deg) translateY(-70px);

    z-index: 1;
  }
}

.about-me-container {
  @include flexbox($align-items: flex-start);
  width: 50%;
  height: 100%;

  p {
    font-size: 1.25rem;
  }

  h2 {
    margin: 1rem 0 3rem 0;
    font-size: 4rem;
  }

  button {
    margin-top: 1.5rem;
    align-self: flex-end;
  }
}
