@use './../../../../shared/styles/core' as *;

section {
  min-height: 100vh;
  min-height: 100svh;
}

.wrapper {
  @include flexbox($flex-direction: row);
  gap: 50px;
}

aside {
  @include flexbox();
  width: 50%;
}

.info-strips {
  @include flexbox();
  width: 100%;
  max-width: 560px;
  height: 500px;
  color: $color-font-light;

  .stripe {
    @include flexbox();
    width: 100%;
    height: 33%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .content {
      width: 100%;
      @include flexbox($flex-direction: row);

      h3 {
        margin: 0;
        font-weight: normal;
      }

      img {
        margin-right: 1rem;
      }
    }
  }

  .yellow-strip {
    background-image: url(./../../../../../../public/assets/img/ripped_paper_01.png);
    transform: rotate(-5deg) translateY(70px);
    z-index: 3;

    .content {
      padding-bottom: 1.5rem;
    }
  }
  .blue-strip {
    background-image: url(./../../../../../../public/assets/img/ripped_paper_02.png);
    z-index: 2;
  }
  .orange-strip {
    background-image: url(./../../../../../../public/assets/img/ripped_paper_03.png);
    transform: rotate(5deg) translateY(-70px);

    z-index: 1;
  }
}

.about-me-container {
  @include flexbox($align-items: flex-start);
  width: 50%;
  height: 100%;

  button {
    margin-top: 1.5rem;
    align-self: flex-end;
  }
}

@media (max-width: 1240px) {
  .info-strips {
    .yellow-strip {
      transform: rotate(-5deg) translateY(85px);
    }
    .orange-strip {
      transform: rotate(5deg) translateY(-85px);
    }
  }
}

@media (max-width: 1024px) {
  .info-strips {
    .stripe .content {
      h3 {
        margin: 0;
      }

      img {
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .yellow-strip {
      transform: rotate(-5deg) translateY(100px);

      .content {
        padding-bottom: 1.25rem;
      }
    }
    .orange-strip {
      transform: rotate(5deg) translateY(-100px);
    }
  }
}

@media (max-width: 920px) {
  .info-strips {
    .yellow-strip {
      transform: rotate(-5deg) translateY(110px);
    }
    .orange-strip {
      transform: rotate(5deg) translateY(-110px);
    }
  }
}

@media (max-width: 820px) {
  .wrapper {
    @include flexbox($flex-direction: column-reverse);
    gap: 0px;

    aside {
      @include flexbox();
      width: 100%;
    }

    .info-strips {
      @include flexbox();
      height: 400px;

      .stripe {
        .content {
          img {
            margin-right: 1rem;
          }
        }
      }

      .yellow-strip {
        transform: rotate(-5deg) translateY(40px);
      }

      .orange-strip {
        transform: rotate(5deg) translateY(-40px);
      }
    }

    .about-me-container {
      @include flexbox($align-items: flex-start);
      width: 100%;
    }
  }
}

@media (max-width: 710px) {
  .wrapper .info-strips {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .wrapper .info-strips {
    height: 300px;

    .stripe {
      .content {
        img {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .wrapper .info-strips {
    .yellow-strip {
      transform: rotate(-5deg) translateY(45px);
    }
    .orange-strip {
      transform: rotate(5deg) translateY(-45px);
    }
  }
}
