@use './../../styles/core' as *;

.social-links-wrapper {
  @include flexbox();
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid $color-font-light;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $color-accent-blue;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(100%);
    transition: $hover-transition;
  }
  &:hover::after {
    transform: translateY(0);
  }
}

svg {
  width: 32px;
  height: 32px;
  fill: $color-font-light;
  z-index: 2;
}

.github {
  svg {
    width: 24px;
    height: 24px;
  }
}
