@use './../../styles/core' as *;

.sticker-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker-bg {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  z-index: 1;
}

.sticker-svg {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  z-index: 2;

  text {
    font-family: inherit;
    fill: $color-font-dark;
    letter-spacing: 1px;
    font-weight: 600;
    /* Abstand zur Außenkante */
    dominant-baseline: middle;
  }

  /* Abstand des Textes zur Außenkante */
  // textPath {
  //   /* StartOffset auf 8px umrechnen: 8px / (2 * PI * 65) ≈ 2% */
  //   startoffset: 5%;
  // }

  /* Nur für den Textkreis */
}

.sticker-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
  /* Logo ist immer exakt mittig im Sticker */
}

.sticker-logo-svg {
  width: 48px; /* Hier Logo-Größe anpassen */
  height: 48px;
  display: block;
}

.sticker-logo-svg path {
  fill: $color-font-dark !important;
  stroke: $color-font-dark !important;
}
