@use './../../styles/core' as *;

.sticker-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.sticker-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  text {
    font-family: inherit;
    fill: $color-font-dark;
    letter-spacing: 1px;
    font-weight: 600;
    dominant-baseline: middle;
  }
}

.sticker-logo-wrapper {
  transform: rotate(15deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.sticker-logo-svg {
  width: 35%;
  height: 35%;
  display: block;
}

.sticker-logo-svg path {
  fill: $color-font-dark !important;
  stroke: $color-font-dark !important;
}
