$color-font-light: #fff;
$color-font-dark: #000;
$color-active: #f87a55;
$color-accent-blue: #3355ff;

@mixin flexbox($flex-direction: column, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
