$color-font-light: #fff;
$color-font-dark: #000;
$color-accent-orange: #f87a55;
$color-accent-blue: #3355ff;
$color-accent-yellow: #f7c518;
$hover-transition: all 250ms ease-in-out;

@mixin flexbox($flex-direction: column, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
