@import '../../../../../styles.scss';

.btn-switch {
  @include flexbox($flex-direction: row);
}

span {
  color: $color-font-light;
  font-weight: bold;
}

.container-switch {
  @include flexbox();
  margin: 0 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 0.5rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-active;
    transition: 0.4s;
    border: 1px solid white;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 1rem;
    aspect-ratio: 1/1;
    left: 0;
    bottom: calc(-5px);
    background-color: $color-accent-blue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid white;
  }

  input:checked + .slider:before {
    transform: translateX(calc(2rem - 16px));
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.switch-active {
  color: $color-active;
}
