// @media(max-width:1240px){
// }

// @media(max-width:900px){
// }

// @media(max-width:820px){
// }

// @media(max-width:550px){
// }

// @media(max-width:520px){
// }

// @media(max-width:420px){
// }
