@use '../../shared/styles/_core.scss' as *;

section {
  height: 900px;
  color: $color-font-light;

  background-image: url(../../../../public/assets/img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 8rem;
  width: 100%;
}

.hero-section {
  @include flexbox();
  height: 100%;
  width: 100%;

  .content {
    position: relative;
    @include flexbox($justify-content: flex-end);
    max-width: 800px;
    width: 90%;
    height: 500px;

    .first-line {
      display: block;
    }

    .second-line {
      display: block;
      margin-top: 1rem;
      text-align: end;
    }
  }
}

.polaroid {
  position: absolute;
  bottom: 190px;
  right: 10px;
  height: 250px;
  rotate: 8deg;
  overflow: hidden;

  .frame {
    position: relative;
    height: 100%;
    width: auto;
    z-index: 2;
    backdrop-filter: grayscale(1);
  }

  .me {
    position: absolute;
    top: -5px;
    left: 7px;
    width: auto;
    height: 100%;
    z-index: 1;
  }

  & > p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-font-dark;
    font-family: 'Kalam';
    font-weight: bold;
    height: 1.5rem;
    width: 100%;
    text-align: center;
    line-height: 55px;
    height: 55px;
    z-index: 2;
    pointer-events: none;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 7rem;
  }

  .polaroid {
    height: 200px;
    bottom: 165px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 6rem;
  }

  .polaroid {
    bottom: 150px;
  }
}

@media (max-width: 820px) {
  .hero-section {
    .content {
      @include flexbox($justify-content: center);
      height: 90%;
      width: 100%;

      h1 {
        width: auto;
      }
    }
  }

  .polaroid {
    position: relative;
    bottom: auto;
    right: auto;
    height: 40%;
    margin-top: 50px;

    .me {
      left: 10px;
    }
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 5rem;
  }

  .polaroid {
    position: relative;
    bottom: auto;
    right: auto;
    height: 250px;
    margin-top: 50px;

    .me {
      left: 7px;
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 3rem;
  }
}
