@use '../../shared/styles/_core.scss' as *;

section {
  height: 900px;
  color: $color-font-light;

  background-image: url(../../../../public/assets/img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 8rem;
  width: 100%;
}

.hero-section {
  @include flexbox();
  height: 100%;
  width: 100%;

  .content {
    position: relative;
    @include flexbox($justify-content: flex-end);
    width: 800px;
    height: 500px;

    .first-line {
      display: block;
    }

    .second-line {
      display: block;
      margin-top: 1rem;
      text-align: end;
    }
  }
}

.polaroid {
  position: absolute;
  bottom: 190px;
  right: 10px;
  height: 250px;
  rotate: 8deg;
  overflow: hidden;

  .frame {
    position: relative;
    height: 100%;
    width: auto;
    z-index: 2;
    backdrop-filter: grayscale(1);
  }

  .me {
    position: absolute;
    top: -5px;
    left: 7px;
    width: auto;
    height: 100%;
    z-index: 1;
  }

  & > p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-font-dark;
    font-family: 'Kalam';
    font-weight: bold;
    height: 1.5rem;
    width: 100%;
    text-align: center;
    line-height: 55px;
    height: 55px;
    z-index: 2;
    pointer-events: none;
  }
}
