@use './../../../shared/styles/core' as *;

section {
  min-height: 100vh;
  min-height: 100svh;
  background-image: url('./../../../../../public/assets/img/notbook_paper.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-font-dark;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
}

p,
h2 {
  color: $color-font-light;
  mix-blend-mode: difference;
}

.arrow {
  @include flexbox($flex-direction: column);
  width: 100%;

  a {
    cursor: pointer;
    @include flexbox($flex-direction: row);
    padding: 0;
  }

  .go-back {
    align-self: flex-start;

    p {
      margin-left: 0.5rem;
    }
  }

  .next {
    align-self: flex-end;
    margin: 2rem 0;

    p {
      margin-right: 0.5rem;
    }
  }
}

.wrapper {
  flex-grow: 1;
}

.project-wrapper {
  @include flexbox($flex-direction: row, $justify-content: space-between);
  flex-grow: 1;
}

.content-container {
  width: 45%;
  align-items: flex-start;
  margin-right: 2rem;

  .content {
    @include flexbox($align-items: flex-start);

    margin-left: 2rem;

    .description h3 {
      margin-top: 0;
    }

    .duration-title {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      span {
        font-weight: bold;
      }
    }
  }

  .programming-languages-container {
    @include flexbox($flex-direction: row);
    flex-wrap: wrap;

    .language {
      @include flexbox($flex-direction: row);
      margin-top: 1rem;
      margin-right: 1.5rem;
      img {
        height: 2rem;
        margin-right: 0.5rem;
      }

      p {
        font-weight: lighter;
      }
    }
  }
}

.preview-container {
  position: relative;
  width: 50%;
  @include flexbox($align-items: flex-end, $justify-content: space-between);
  gap: 5rem;

  .preview-sticker-wrapper {
    position: relative;
    width: 90%;
    aspect-ratio: 1.6/1;
    display: flex;
    align-items: center;
  }

  .preview {
    width: 100%;
    aspect-ratio: 1.6/1;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;

    img {
      width: 100%;
    }
  }

  .sticker-container {
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translate(-50%, -50%);
    height: 45%;
    aspect-ratio: 1/1;
    z-index: 2;

    img,
    app-sticker {
      height: 100%;
      width: 100%;
    }
  }

  .links {
    @include flexbox($flex-direction: row);
    gap: 3rem;
  }
}

@media (max-width: 820px) {
  section {
    background-image: url('./../../../../../public/assets/img/notbook_paper_mobile.png');
    background-color: $color-font-dark;
    margin-bottom: 0;
  }

  .project-wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .content-container,
  .preview-container {
    width: 100%;
    margin: 0;
  }

  .preview-container {
    align-items: center;
  }

  .links {
    align-self: flex-end;
    margin-right: 1.5rem;
  }
}

@media (max-width: 700px) {
  .preview-container {
    gap: 3rem;
  }

  .sticker-container {
    display: none;
  }
}

@media (max-width: 500px) {
  .project-wrapper {
    gap: 1.5rem;
  }

  .preview-container {
    gap: 1.5rem;
  }
}

@media (max-width: 400px) {
  .links {
    align-self: center;
  }
}
