@use '../../../styles/_core.scss' as *;

.btn-switch {
  @include flexbox($flex-direction: row);
}

.lang-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: $color-font-light;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  transition: color 0.2s;
}

.lang-container {
  position: relative;

  img {
    position: absolute;
    top: -5px;
    left: -5px;
    opacity: 0;
    pointer-events: none;
    transition: $hover-transition;
  }

  img.clicked {
    opacity: 1;
  }
}

.switch-active {
  color: $color-accent-orange;
}

span {
  color: $color-font-light;
  font-weight: bold;
}

.container-switch {
  @include flexbox();
  margin: 0 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 0.5rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-accent-orange;
    transition: 0.4s;
    border: 1px solid white;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 1rem;
    aspect-ratio: 1/1;
    left: -1px;
    bottom: calc(-5px);
    background-color: $color-accent-blue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid white;
  }

  input:checked + .slider:before {
    transform: translateX(calc(2rem - 16px));
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
