@use './../../styles/core' as *;

li {
  position: relative;
  text-align: center;
  @include flexbox($flex-direction: row);
}

a {
  padding: 15px 24px;
}

.overlay-bottom {
  height: 100%;
  width: 100%;
  bottom: 0;
}
