@use './../../../../shared/styles/core' as *;

section {
  background-image: url(../../../../../../public/assets/img/skills.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15rem;
  margin-bottom: 0;
}

.head-line {
  @include flexbox($flex-direction: row, $justify-content: flex-start);
  gap: 2rem;
  height: 150px;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  .title {
    position: relative;
    width: 30%;
    height: 100%;
    text-align: end;
    color: $color-font-light;

    .animate-container {
      position: relative;
      z-index: 1;
    }
  }

  .head-line-content {
    max-width: 650px;
    text-align: center;
    background-image: url(../../../../../../public/assets/img/skills-description-web.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    aspect-ratio: 4.5/1;
    @include flexbox();

    p {
      align-self: center;
      width: 100%;
      padding: 1.5rem;
      text-align: start;
    }
  }
}

.stack {
  @include flexbox($flex-direction: row, $justify-content: flex-end);
  width: 100%;
  color: $color-font-light;
  text-align: center;
  gap: 4rem;

  .stack-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 25px;

    .stack-item {
      width: 6rem;
      height: 6rem;
      @include flexbox($justify-content: space-between);
      img {
        width: 4.5rem;
        aspect-ratio: 1/1;
        transition: $hover-transition-fast;
        filter: grayscale(1);
      }

      .img-container:hover img {
        transform-origin: top right;
        transform: scale(0.8);
        filter: grayscale(0);
      }
    }
  }
}

.note-container {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
  background-image: url(../../../../../../public/assets/img/peel-off-final.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(8deg);
  padding: 1rem;
  @include flexbox();
  cursor: pointer;

  .note-item-container {
    @include flexbox($flex-direction: row);
    gap: 1rem;
    margin-top: 1rem;
    .note-skills-item {
      img {
        width: 40px;
        aspect-ratio: 1/1;
      }

      p {
        font-weight: lighter;
      }
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;

    .note-overlay {
      width: 100%;
      height: 100%;
    }
    .overlay-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;

      .note-arrow {
        height: 40px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 2rem;
        font-weight: lighter;
        line-height: 2rem;
        font-family: 'Kalam';
      }
    }
  }
}

@media (max-width: 1024px) {
  .head-line {
    height: auto;
    width: auto;
    flex-direction: column;
    gap: 0;

    .title {
      width: 100%;
    }
  }

  .head-line-content {
    width: 100%;
    aspect-ratio: 3/1;
  }

  .stack .stack-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .stack {
    flex-direction: column;
    gap: 0;
    width: auto;
  }

  .note-container {
    align-self: flex-end;
    margin-bottom: 2rem;
    transform-origin: left top;
    transform: rotate(8deg) translateY(-40%);
  }
}

@media (max-width: 820px) {
  .stack .stack-container .stack-item img {
    filter: grayscale(0);
  }
}

@media (max-width: 750px) {
  .head-line .head-line-content {
    background-image: url(../../../../../../public/assets/img/skills-description-mobile.png);
    width: 100%;
    aspect-ratio: 1.6/1;

    p {
      font-size: 1.25rem;
      padding: 3rem;
    }
  }
}

@media (max-width: 510px) {
  .head-line .head-line-content p {
    font-size: 1rem;
    padding: 2rem;
  }

  .stack {
    gap: 20px;
    .stack-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .note-container {
    align-self: center;
    margin-bottom: 3rem;
    transform: rotate(8deg) translateY(0);
  }
}

@media (max-width: 400px) {
  .head-line .head-line-content p {
    padding: 1rem;
  }

  .stack .stack-container {
    gap: initial;

    .stack-item {
      margin-bottom: 1rem;
      img {
        width: 3.5rem;
      }
    }
  }
}
