@use './../../../../shared/styles/core' as *;

section {
  //   height: 100vh;
  background-image: url(../../../../../../public/assets/img/skills.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-line {
  @include flexbox($flex-direction: row, $justify-content: flex-start);
  gap: 2rem;
  height: 150px;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  .title {
    width: 30%;
    text-align: end;
    color: $color-font-light;
  }

  .head-line-content {
    width: 50%;
    max-width: 650px;
    text-align: center;
  }

  .head-line-bg-web {
    background-image: url(../../../../../../public/assets/img/skills-description-web.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    @include flexbox();

    p {
      text-align: start;
      width: 90%;
    }
  }
}

.stack {
  @include flexbox($flex-direction: row, $justify-content: flex-end);
  width: 100%;
  color: $color-font-light;
  text-align: center;
  gap: 4rem;
  margin-bottom: 10rem;

  .stack-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 25px;

    .stack-item {
      width: 6rem;
      height: 6rem;
      @include flexbox($justify-content: space-between);
      img {
        width: 4.5rem;
        aspect-ratio: 1/1;
        transform: $hover-transition;
        filter: grayscale(1);
      }

      .img-container:hover img {
        transform-origin: top right;
        transform: scale(0.8);
        filter: grayscale(0);
      }
    }
  }
}

.note-container {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
  background-image: url(../../../../../../public/assets/img/peel-off-final.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(8deg);
  padding: 1rem;
  @include flexbox();

  p {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
  }

  .note-item-container {
    @include flexbox($flex-direction: row);
    gap: 1rem;
    margin-top: 1rem;
    .note-skills-item {
      img {
        width: 40px;
        aspect-ratio: 1/1;
      }

      p {
        font-size: 1rem;
        font-weight: lighter;
      }
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    .note-overlay {
      width: 100%;
      height: 100%;
    }
    .overlay-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;

      .note-arrow {
        height: 40px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 2rem;
        font-weight: lighter;
        line-height: 2rem;
        font-family: 'Kalam';
      }
    }
  }
}

@media (max-width: 1024px) {
  .head-line {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .head-line-content {
      width: 65%;
      // max-width: 650px;
      // text-align: center;
    }
  }

  .stack .stack-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
