<section>
  <div class="wrapper">
    <div class="head-line">
      <div class="title">
        <p>MY STACK</p>
        <h2>Skill set</h2>
      </div>
      <div class="head-line-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et consectetur, est nihil quis,
          enim adipisci perferendis libero odit fuga tempora, doloribus voluptatibus quos corporis.
          Molestias.
        </p>
      </div>
    </div>

    <div class="stack">
      <div class="stack-container">
        @for (stackItem of stack; track $index) {
        <div class="stack-item">
          <div class="img-container">
            <img src="{{ stackItem.icon }}" />
          </div>

          <p>{{ stackItem.title }}</p>
        </div>
        }
      </div>

      <div class="note-container">
        <p>Auf meinem Lernplan:</p>
        <div class="note-item-container">
          @for (stackItem of learningStack; track $index) {
          <div class="note-skills-item">
            <img src="{{ stackItem.icon }}" />
            <p>{{ stackItem.title }}</p>
          </div>
          }
        </div>

        <div class="overlay-container">
          <img class="note-overlay" src="assets\img\peel-off-default.png" alt="" />
          <div class="overlay-text">
            <img class="note-arrow" src="assets/img/note-arrow.png" alt="" />
            <p>Zum <br />Abziehen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
