@use './../../../../shared/styles/core' as *;
section {
  margin-bottom: 5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  @media (max-width: 1024px) {
    gap: 100px;
    grid-template-columns: repeat(1, 0.8fr);
  }

  @media (max-width: 820px) {
    gap: 75px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-container {
  width: 100%;
}

.introduction {
  @include flexbox($align-items: flex-start);
  height: 100%;
  width: 100%;

  h2 {
    margin: 1rem 0 3rem 0;
  }

  p {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
