@use './../../shared/styles/core' as *;

a {
  color: $color-font-dark;
  font-weight: normal;
}

.head-line {
  height: 400px;
  width: 100%;
  background-image: url(./../../../../public/assets/img/skills.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;

  .wrapper h2 {
    align-self: flex-start;
    color: $color-font-light;
  }
}

h3 {
  color: $color-accent-blue;
}
