@use './app/shared/styles/_core.scss' as *;

@font-face {
  font-family: 'Bricolage_Grotesque';
  src: url(../public/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url(../public/assets/fonts/Kalam/Kalam-Regular.ttf);
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bricolage_Grotesque';
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  height: 100%;
  padding: 0 4.5rem;
  @include flexbox();
}

a {
  text-decoration: none;
  color: $color-font-light;
  font-weight: bold;
}

button {
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  transition: all 125ms ease-in-out;
}

h2 {
  font-size: 4rem;

  @media (max-width: 920px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
}

.button-bright {
  color: $color-font-light;
  border: 1px solid $color-font-light;
  box-shadow: 2px 5px $color-font-light;

  &:hover {
    background-color: $color-accent-orange;
    transform: translateX(2px) translateY(5px);
    box-shadow: none;
  }
}

.button-dark {
  color: $color-font-dark;
  border: 1px solid $color-font-dark;
  box-shadow: 2px 5px $color-font-dark;

  &:hover {
    background-color: $color-accent-orange;
    color: $color-font-light;
    transform: translateX(2px) translateY(5px);
    box-shadow: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 700px) {
  .wrapper {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

@media (max-width: 420px) {
  .wrapper {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
