$color-font-light: #fff;
$color-font-dark: #000;

$color-active: #f87a55;

$color-accent-blue: #3355ff;

@font-face {
  font-family: 'Bricolage_Grotesque';
  src: url(../public/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url(../public/assets/fonts/Kalam/Kalam-Regular.ttf);
  font-style: normal;
}

@mixin flexbox($flex-direction: column, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bricolage_Grotesque';
  color: $color-font-dark;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
