@use './app/shared/styles/_core.scss' as *;

@font-face {
  font-family: 'Bricolage_Grotesque';
  src: url(../public/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url(../public/assets/fonts/Kalam/Kalam-Regular.ttf);
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bricolage_Grotesque';
}

html {
  scroll-behavior: smooth;
}

section {
  @include flexbox($align-items: stretch);
}

.wrapper {
  position: relative;
  max-width: 1440px;
  height: 100%;
  padding: 0 4.5rem;
  @include flexbox();
}

a {
  text-decoration: none;
  color: $color-font-light;
  font-weight: bold;
}

button {
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  transition: all 125ms ease-in-out;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  @media (max-width: 920px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.25rem;
}

section {
  margin-bottom: 5rem;
}

label {
  position: relative;
  font-size: 1.5rem;
}

input {
  background-color: transparent;
  line-height: 1.25rem;
  font-size: 1.25rem;
  border: none;
  margin: 0.5rem 0;

  &::placeholder {
    font-size: 1rem;
    color: $color-font-light;
  }
}

input[type='checkbox'] {
  position: relative;
  appearance: none;
  border: 2px solid $color-accent-blue;
  border-radius: 2px;
  height: 1.25rem;
  aspect-ratio: 1/1;
  margin: 0;

  &:checked::after {
    position: absolute;
    top: -2px;
    right: -2px;
    content: '';
    height: 1.1rem;
    aspect-ratio: 1/1;
    background-image: url(./../public/assets/img/Check.png);
    background-size: contain;
    z-index: 2;
  }
}
.checkbox-bg {
  position: absolute;
  // content: '';
  top: 0;
  left: -2px;
  display: block;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 2px;
  background-color: $color-accent-blue;
  filter: opacity(0);
  pointer-events: none;
  z-index: 0;
  transition: $hover-transition-fast;
}

.privacy-check-container label:hover .checkbox-bg {
  filter: opacity(0.5);
}

.privacy-text {
  font-size: 1rem;
  display: block;

  a {
    color: $color-accent-blue;
    font-weight: normal;
    &:hover {
      color: $color-accent-yellow;
    }
  }
}

.privacy-check-container {
  display: flex;
  flex-direction: row;
}

.button-bright {
  color: $color-font-light;
  border: 1px solid $color-font-light;
  box-shadow: 2px 5px $color-font-light;

  &:hover {
    background-color: $color-accent-orange;
    transform: translateX(2px) translateY(5px);
    box-shadow: none;
  }
}

.button-dark {
  color: $color-font-dark;
  border: 1px solid $color-font-dark;
  box-shadow: 2px 5px $color-font-dark;

  &:hover {
    background-color: $color-accent-orange;
    color: $color-font-light;
    transform: translateX(2px) translateY(5px);
    box-shadow: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 700px) {
  .wrapper {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

@media (max-width: 420px) {
  .wrapper {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
