@use './app/shared/styles/_core.scss' as *;

@font-face {
  font-family: 'Bricolage_Grotesque';
  src: url(../public/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url(../public/assets/fonts/Kalam/Kalam-Regular.ttf);
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bricolage_Grotesque';
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

section {
  @include flexbox($align-items: stretch);
}

.blend-mode a {
  mix-blend-mode: difference;
  color: $color-font-light;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0 4.5rem;
  @include flexbox();

  @media (max-width: 700px) {
    padding: 0 2rem;
  }

  @media (max-width: 600px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 420px) {
    padding: 0 1rem;
  }
}

a {
  padding: 12px 24px;
  text-decoration: none;
  color: $color-font-light;
  font-weight: bold;
}

button {
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  transition: all 125ms ease-in-out;

  @media (max-width: 1024px) {
    font-size: 1.15rem;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

h1 {
  font-size: 8rem;
  @media (max-width: 1024px) {
    font-size: 7rem;
  }

  @media (max-width: 910px) {
    font-size: 6rem;
  }

  @media (max-width: 820px) {
    font-size: 5rem;
  }

  @media (max-width: 520px) {
    font-size: 4rem;
  }

  @media (max-width: 420px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  @media (max-width: 1080px) {
    font-size: 3rem;
  }

  @media (max-width: 1024px) {
    margin: 1rem 0 2rem 0;
  }

  @media (max-width: 920px) {
    font-size: 3rem;
    margin: 1rem 0 1.5rem 0;
  }

  @media (max-width: 700px) {
    font-size: 2rem;
    margin: 0.5rem 0 1rem 0;
  }
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }

  @media (max-width: 820px) {
    font-size: 1.5rem;
  }

  @media (max-width: 820px) {
    font-size: 1.25rem;
  }

  @media (max-width: 360px) {
    font-size: 1.15rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.25rem;

  @media (max-width: 1024px) {
    font-size: 1.15rem;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

section {
  margin-bottom: 5rem;
}

label {
  position: relative;
  font-size: 1.5rem;

  @media (max-width: 500px) {
    font-size: 1.25rem;
  }
}

input {
  background-color: transparent;
  line-height: 1.25rem;
  font-size: 1.25rem;
  border: none;
  margin: 0.5rem 0;
  width: 100%;

  &::placeholder {
    font-size: 1rem;
    color: $color-font-light;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

input[type='checkbox'] {
  position: relative;
  appearance: none;
  border: 2px solid $color-accent-blue;
  border-radius: 2px;
  height: 1.25rem;
  aspect-ratio: 1/1;
  margin: 0;

  &:checked::after {
    position: absolute;
    top: -2px;
    right: -2px;
    content: '';
    height: 1.1rem;
    aspect-ratio: 1/1;
    background-image: url(./../public/assets/img/Check.png);
    background-size: contain;
    z-index: 2;
  }
}
.checkbox-bg {
  position: absolute;
  // content: '';
  top: 0;
  left: -2px;
  display: block;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 2px;
  background-color: $color-accent-blue;
  filter: opacity(0);
  pointer-events: none;
  z-index: 0;
  transition: $hover-transition-fast;
}

.privacy-check-container label:hover .checkbox-bg {
  filter: opacity(0.5);
}

.privacy-text {
  font-size: 1rem;
  display: block;

  a {
    color: $color-accent-blue;
    font-weight: normal;
    &:hover {
      color: $color-accent-yellow;
    }
  }
}

.privacy-check-container {
  display: flex;
  flex-direction: row;
}

.d-none {
  display: none;
}

.button-bright {
  color: $color-font-light;
  border: 1px solid $color-font-light;
  box-shadow: 2px 5px $color-font-light;

  &:hover {
    background-color: $color-accent-orange;
    transform: translateX(2px) translateY(5px);
    box-shadow: none;
  }
}

.button-dark {
  color: $color-font-dark;
  border: 1px solid $color-font-dark;
  box-shadow: 2px 5px $color-font-dark;

  &:hover {
    background-color: $color-accent-orange;
    color: $color-font-light;
    transform: translateX(2px) translateY(5px);
    box-shadow: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  padding: 0;

  svg {
    cursor: pointer;
    height: 2.5rem;
    aspect-ratio: 1/1;
    fill: $color-accent-blue;
    stroke-width: 4px;
    cursor: pointer;
    transition: $hover-transition;

    &:hover {
      fill: $color-accent-yellow;
    }
  }
}

.animate-container {
  position: relative;
}

.overlay-bottom {
  position: absolute;
  width: 100%;
  min-height: 1rem;
  bottom: 30px;
  left: 0;
  transition: $hover-transition;
  pointer-events: none;
  clip-path: inset(0 0 0 0);

  @media (max-width: 920px) {
    bottom: 15px;
  }

  @media (max-width: 700px) {
    bottom: 5px;
  }
}

.overlay-left {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: $hover-transition;
  pointer-events: none;
  clip-path: inset(0 0 0 0);
}

.role-overlay {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: -32px;
  left: 0;
  width: 100%;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
  filter: opacity(1);

  img {
    width: 32px;
    aspect-ratio: 1/1;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
  }

  &:not(.role-left) img {
    transform: rotate(360deg);
  }
}

.role-left {
  transform: translateX(calc(-100% + 32px));
  filter: opacity(0);
}

.fill-container {
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-accent-blue;
    border-radius: 25px;
    z-index: -1;
    transition: $hover-transition;
    transform: scale(0);
    transform-origin: center bottom;
    opacity: 0;
  }

  &:hover::after {
    content: '';
    transform: scale(1);
    opacity: 1;
  }
}

.reveal-top-to-bottom {
  clip-path: inset(0 0 100% 0);
}

.reveal-right-to-left {
  clip-path: inset(0 100% 0 0);
}

.reveal-left-to-right {
  clip-path: inset(0 0 0 100%);
}

.overlay-rotate-90deg {
  position: absolute;
  width: 250px;
  bottom: 0;
  right: -5%;
  transition: $hover-transition-fast;
  pointer-events: none;
  transform-origin: center right;
  transform: rotate(-90deg) scale(0);
  clip-path: inset(0 100% 100% 0);
  z-index: -1;

  @media (max-width: 1080px) {
    width: 200px;
  }

  @media (max-width: 1024px) {
    right: -10px;
  }

  @media (max-width: 700px) {
    width: 140px;
  }
}

.reval-0deg {
  z-index: -1;
  transform: rotate(0deg) scale(1);
  clip-path: inset(0 0 0 0);
}
