@import '../header.scss';

nav {
  height: 100%;
  width: 100%;

  ul {
    @include flexbox($flex-direction: row, $justify-content: space-between);
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;

    li {
      height: 100%;
      text-align: center;
      @include flexbox($flex-direction: row);

      .logo {
        height: 2.5rem;
        aspect-ratio: 1/1;
        fill: #35f;
      }

      a {
        text-decoration: none;
        color: $color-font-light;
        font-weight: bold;
      }
    }
  }
}
