@use '../../../../shared/styles/_core.scss' as *;

nav {
  height: 100%;
  width: 100%;
  z-index: 10;

  ul {
    @include flexbox($flex-direction: row, $justify-content: space-between);
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;

    li {
      position: relative;
      text-align: center;
      @include flexbox($flex-direction: row);
    }

    a {
      padding: 15px;
    }

    .logo {
      padding: 0;

      svg {
        cursor: pointer;
        height: 2.5rem;
        aspect-ratio: 1/1;
        fill: $color-accent-blue;
        stroke-width: 4px;
        cursor: pointer;
        transition: $hover-transition;

        &:hover {
          fill: $color-accent-yellow;
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  top: calc(50%-height);
  left: 0;
  transition: $hover-transition;
  pointer-events: none;
}

.startLeftToRight {
  clip-path: inset(0 100% 0 0);
}

.startTopToBottom {
  clip-path: inset(100% 0 0 0);
}

.animationOverlay {
  clip-path: inset(0 0 0 0);
}
