@use '../../../../shared/styles/_core.scss' as *;

nav {
  height: 100%;
  width: 100%;
  z-index: 10;

  ul {
    @include flexbox($flex-direction: row, $justify-content: space-between);
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;

    li {
      height: 100%;
      text-align: center;
      @include flexbox($flex-direction: row);

      .logo {
        cursor: pointer;
        height: 2.5rem;
        aspect-ratio: 1/1;
        fill: $color-accent-blue;
        stroke-width: 4px;
        cursor: pointer;
        transition: $hover-transition;

        &:hover {
          fill: $color-accent-yellow;
        }
      }
    }
  }
}
