@use './../../../../shared/styles/core' as *;

section {
  color: $color-font-light;
  background-image: url(./../../../../../../public/assets/img/hero.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 15vh;
  padding-bottom: 15svh;
}

.wrapper {
  min-height: 100vh;
  min-height: 100svh;
}

h1 {
  width: 100%;

  span {
    transition: $hover-transition-fast;
  }
}

app-header {
  width: 100%;
}

.hero-section {
  position: relative;
  @include flexbox();
  width: 100%;
  margin-top: 10rem;

  .content {
    position: relative;
    @include flexbox($justify-content: flex-end);
    max-width: 800px;
    width: 90%;

    .say-hello {
      position: relative;
      text-align: center;
      @include flexbox($flex-direction: row);
      font-weight: bold;
      font-size: 1.25rem;
      padding: 12px 24px;
      border: 1px solid $color-font-light;
      border-radius: 1.5rem;
      align-self: flex-start;

      &::before {
        // content: '';
        font-size: 1.25rem;
        transform: scaleX(0);
        transform-origin: left;
        transition: $hover-transition;
        opacity: 0;
      }

      &:hover::before {
        content: 'MEIN NAME IST PHILIPP BIEBERT';
        transform: scaleX(1);
        opacity: 1;
      }
    }

    .first-line {
      display: block;
    }

    .second-line {
      display: block;
      margin-top: 1rem;
      text-align: end;
    }

    button {
      align-self: flex-end;
      margin-top: 1rem;
    }
  }

  .polaroid {
    position: absolute;
    bottom: 265px;
    right: 10px;
    height: 250px;
    rotate: 8deg;
    overflow: hidden;

    .frame {
      position: relative;
      height: 100%;
      width: auto;
      z-index: 2;
      backdrop-filter: grayscale(1);
    }

    .onPolaroid {
      backdrop-filter: grayscale(0);
    }

    .frameEffect {
      animation: flashLight 500ms ease-in-out;
    }

    @keyframes flashLight {
      0% {
        backdrop-filter: brightness(100%);
      }
      25% {
        backdrop-filter: brightness(110%);
      }
      50% {
        backdrop-filter: brightness(90%);
      }
      75% {
        backdrop-filter: brightness(110%);
      }
      100% {
        backdrop-filter: brightness(100%);
      }
    }

    .me {
      position: absolute;
      top: -5px;
      left: 7px;
      width: auto;
      height: 100%;
      z-index: 1;
    }

    & > p {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $color-font-dark;
      font-family: 'Kalam';
      font-weight: bold;
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      line-height: 55px;
      height: 55px;
      z-index: 2;
      pointer-events: none;
    }

    .shake {
      animation: shake 500ms ease-in-out;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(1px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

app-social-links {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1024px) {
  .hero-section .polaroid {
    height: 220px;
    bottom: 245px;

    & > p {
      font-size: 1.25rem;
      line-height: 45px;
      height: 45px;
    }
  }
}

@media (max-width: 910px) {
  .hero-section .polaroid {
    height: 200px;
    bottom: 220px;
  }
}

@media (max-width: 820px) {
  .hero-section {
    margin-top: 2rem;

    .content {
      @include flexbox($justify-content: center);
      height: 90%;
      width: auto;
    }

    .polaroid {
      position: relative;
      bottom: auto;
      right: auto;
      height: 230px;
      margin-top: 50px;

      & > p {
        font-size: 1.5rem;
        line-height: 50px;
        height: 50px;
      }

      .me {
        left: 10px;
      }
    }

    app-social-links {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .hero-section .polaroid {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 50px;

    .me {
      left: 7px;
    }
  }
}
