@use './../../../../shared/styles/core' as *;

section {
  height: 110vh;
  color: $color-font-light;

  background-image: url(./../../../../../../public/assets/img/hero.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

h1 {
  font-size: 8rem;
  width: 100%;

  span {
    transition: $hover-transition-fast;
  }
}

.hero-section {
  position: relative;
  @include flexbox();
  height: 100%;
  width: 100%;

  .content {
    position: relative;
    @include flexbox($justify-content: flex-end);
    max-width: 800px;
    width: 90%;
    height: 500px;

    app-btn-hello-world {
      align-self: flex-start;
    }

    .first-line {
      display: block;
    }

    .second-line {
      display: block;
      margin-top: 1rem;
      text-align: end;
    }

    button {
      align-self: flex-end;
      margin-top: 1rem;
    }
  }
}

app-social-links {
  position: absolute;
  bottom: 12%;
  left: 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 820px) {
  .hero-section {
    .content {
      @include flexbox($justify-content: center);
      height: 90%;
      width: auto;

      h1 {
        width: auto;
        font-size: 5rem;
      }
    }

    app-social-links {
      display: none;
    }
  }
  app-polaroid {
    height: 30%;
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .hero-section .content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 520px) {
  .hero-section .content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 420px) {
  .hero-section .content h1 {
    font-size: 3rem;
  }
}
