@use '../../../../shared/styles/_core.scss' as *;

nav {
  height: 100%;
  width: 100%;
  z-index: 10;

  ul {
    @include flexbox($flex-direction: row, $justify-content: space-between);
    width: 100%;
    height: 100%;
  }
}
